<html>
<head>
</head>
<body>
<p>Make a new post</p>

<p>Home <a href="/friendGroups">Friend Groups</a> <a href="/tags">Manage Tags</a> <a href="/follows">Manage Follows</a> <a href="/logout">Log Out</a></p>

<p><a href="/home">Back to Home</a></p>

<form action = "/submitPost" method="POST" enctype="multipart/form-data">
	<input type = "file" name="filepath" accept="image/png, image/jpeg, image/img, image/bmp" required/></br>
	<input type = "text" name="caption" placeholder="Caption"/></br>
	<p>Share with:</br>
	<input type = "radio" name="shareWith" value="allFollowers" checked="checked">All Followers</input></br>
	{% for friendGroup in friendGroups %}
		<input type="radio" name="shareWith" value={{friendGroup.groupName}},{{friendGroup.creatorUsername}}>{{friendGroup.groupName}} by
		{% if friendGroup.creatorUsername!=user %}
			{{friendGroup.creatorUsername}}
		{% else %}
			You
		{% endif %}
		</input><br>
	{% endfor %}
	</p>
	<input type = "submit" value = "Post">
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

</body>
</html>