<html>
<head>
</head>
<body>
<p>Welcome to Finstagram, {{user}}!</p>

<p><a href ="/home">Home</a> <a href="/friendGroups">Friend Groups</a> <a href="/tags">Manage Tags</a> <a href="/follows">Manage Follows</a> <a href="/logout">Log Out</a></p>

<strong>Error: You are not permitted to view this post.</strong></br>
</br>
If you are seeing this page, then you've likely followed a direct link and are not in a group designated to see this post.

Posts are only visible to groups (Followers or a Friend Group) that the poster has designated upon posting.</br>
</br>
<a href = "/home">Return to home</a>

</body>
</html>