<html>
<head>
</head>
<body>
<p>Welcome to Finstagram, {{user}}!</p>

<p><a href ="/home">Home</a> <a href="/friendGroups">Friend Groups</a> <a href="/tags">Manage Tags</a> <a href="/follows">Manage Follows</a> <a href="/logout">Log Out</a></p>

<strong>Error: You are not permitted to view this post.</strong></br>
</br>
If you are seeing this page, then you've likely followed a direct link and are not in a member of this friend group.

Friend Group pages are only visible to members of that group.</br>
</br>
<a href = "/home">Return to home</a>

</body>
</html>