<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TABLE, TR or TH/TD</title>
  <style>
table {
  width: 100%;
}
tr {
  background-color: #def;
}
th {
  background-color: #cba;
}
td {
  width: 30%;
  height: 30px;
  color: red;
  background: transparent;
}
  </style>
</head>
<body>
<!-- very basic table for illustration only -->
<table>
  <tr>
    <th>Lorem</th>
    <th>Ipsum</th>
    <th>Dolor</th>
  </tr>
  <tr>
    <td>Lorem column text</td>
    <td>Ipsum column text</td>
    <td>Dolor column text</td>
  </tr>
  <tr>
    <td>Lorem column text</td>
    <td>Ipsum column text</td>
    <td>Dolor column text</td>
  </tr>
</table>
</body>
</html>