<html>
<head>
<title>Finstagram · Friend Groups</title>
<link rel="shortcut icon" type="image/x-icon" href="image.ico" />
</head>
<body>
<p>Your Friend Groups</p>

<p><a href="/home">Home</a> Friend Groups <a href="/tags">Manage Tags</a> <a href="/follows">Manage Follows</a> <a href="/logout">Log Out</a></p>

<p>Create a new friend group:
<form action = "/authFriendGroup" method="POST">
	<input type = "text" name="newGroupName" placeholder="New Friend Group" required/></br>
	<input type = "text" name="description" placeholder="Group Description" required/></br>
	<input type = "submit" value = "Create Group"></br>
	{% if error %}
		<p class="error"><strong>Error:</strong> You already own a friend group with this name</p></br>
	{% endif %}

</p>	
	
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Group Name</th>
	<th>Creator</th>
	<th>Description</th>
	<th>Members</th>
	
{% for friendGroup in friendGroups %}
	<tr>
		<td><a href="/viewFriendGroup?gn={{friendGroup.groupName}}&cu={{friendGroup.creatorUsername}}">{{friendGroup.groupName}}</a></td>
		{% if friendGroup.creatorUsername == user %}
			<td>You</td>
		{% else %}
			<td>{{friendGroup.creatorUsername}}</td>
		{% endif %}
		<td>{{friendGroup.description}}</td>
		<td>{{friendGroup.c}}</td>
	</tr>
{% endfor %}

</table>

</body>
</html>