<html>
<head>
</head>
<body>
<p>Welcome to Finstagram, {{user}}!</p>

<p>Home <a href="/friendGroups">Friend Groups</a> <a href="/tags">Manage Tags</a> <a href="/follows">Manage Follows</a> <a href="/logout">Log Out</a></p>

<form action="/searchPosts" method="GET">
    <input type="text" name="searchTerm" placeholder="Search Posts"/>
    <input type="radio" name="searchMode" value="poster">by poster</input>
    <input type="radio" name="searchMode" value="tag">by tag</input>
    <input type="submit" value="Search"/>
</form>


<a href="/newPost">New Post</a></br>

{% if pCount==0 %}
    No posts yet...
    Try sending some follow requests
{% else %}
    {% for photo in feed %}
    	<p><img src="/uploads/{{photo.pID}}.jpg" width=400px height=400px alt="{{photo.pID}}.jpg"/></br>
    	ID: {{photo.pID}}:
    	{% if photo.tc==None %}0{% else %}{{photo.tc}}{% endif %}🏷️ 
    	{% if photo.rc==None %}0{% else %}{{photo.rc}}{% endif %}💬 
    	<a href="/viewPhoto/{{photo.pID}}">More</a></p>
    {% endfor %}
{% endif %}
</body>

</html>