<html>
<head>
<title>Finstagram · Login</title>
<link rel="shortcut icon" type="image/x-icon" href="image.ico" />
</head>
<body>
<p>Welcome to Finstagram!</p>

<p>Please, log in:</p>
<form action="/loginAuth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="submit" value = "Login" />
	{% if error=='1' %}
		<p class="error"><strong>Error:</strong> Invalid username or password</p>
	{% endif %}
</form>

New User? <a href="/register">Register</a>

</body>


</html>