<html>
<head>
<title>Finstagram · Create Friend Group</title>
<link rel="shortcut icon" type="image/x-icon" href="image.ico" />
</head>
<body>
<p>Create a new Friend Group</p>

<p><a href="/home">Home</a> Friend Groups <a href="/tags">Manage Tags</a> <a href="/follows">Manage Follows</a> <a href="/logout">Log Out</a></p>

<p><a href="/friendGroups">Back to Friend Groups</a></p>

<form action = "/authFriendGroup" method="POST">
	<input type = "text" name="newGroupName" placeholder="New Friend Group" required/></br>
	<input type = "text" name="description" placeholder="Group Description" required/></br>
	<input type = "submit" value = "Create Group">
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

</body>
</html>