<html>
<head>
</head>
<body>
<p>Register a new account:</p>

<form action="/registerAuth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="password" name = "vpassword" placeholder="verify password" required/></br>
	<input type="text" name = "firstName" placeholder="First Name" required/></br>
	<input type="text" name = "lastName" placeholder="Last Name" required/></br>
	<input type="text" name = "email" placeholder="E-mail" required/></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a>

</body>


</html>