<html>
<head>
<title>Finstagram · Search Posts</title>
<link rel="shortcut icon" type="image/x-icon" href="image.ico" />
</head>
<body>
<p>Search results</p>

<p><a href ="/home">Home</a> <a href="/user/{{user}}?m=posts">Your Profile</a> <a href="/friendGroups">Friend Groups</a> <a href="/tags">Manage Tags</a> <a href="/follows">Manage Follows</a> <a href="/logout">Log Out</a></p>

<form action="/searchPosts" method="GET">
    <input type="text" name="searchTerm" placeholder="Search Posts" value={{searchTerm}} />
    {% if searchMode == "poster" %}
        <input type="radio" name="searchMode" value="poster" checked="checked">by poster</input>
        <input type="radio" name="searchMode" value="tag">by tag</input>
    {% elif searchMode == "tag" %}
        <input type="radio" name="searchMode" value="poster">by poster</input>
        <input type="radio" name="searchMode" value="tag" checked="checked">by tag</input>
    {% endif %}
    <input type="submit" value="Search"/>
</form>

{% for photo in results %}
	<p><img src="/uploads/{{photo.pID}}.jpg" width=400px height=400px alt="{{photo.pID}}.jpg"/></br>
	Photo ID: {{photo.pID}} <a href="/viewPhoto/{{photo.pID}}">More</a></p>
{% endfor %}

</html>