<html>
<head>
<title>Finstagram · Manage Tags</title>
<link rel="shortcut icon" type="image/x-icon" href="image.ico" />
</head>
<body>
<p>Manage Tags</p>

<p><a href ="/home">Home</a> <a href="/user/{{user}}?m=posts">Your Profile</a> <a href="/friendGroups">Friend Groups</a> Manage Tags <a href="/follows">Manage Follows</a> <a href="/logout">Log Out</a></p>

{% for tag in tagList %}
	<form action="/setTags?source=tags" method="POST">
		<p><a href="/viewPhoto/{{photo.pID}}">
		<img src="/uploads/{{tag.pID}}.jpg" width=100px height=100px alt="{{tag.pID}}.jpg"/></a></br>
		Posted by: {{tag.posterUsername}} on {{tag.postingDate}}
			(<a href="/viewPhoto/{{tag.pID}}">See</a>)
		<input type="radio" name="action" value={{tag.pID}},1>Accept</input>
		<input type="radio" name="action" value={{tag.pID}},0>Delete</input>
		<input type = "submit" value = "Confirm"> </br></p>
	</form>
{% endfor %}

</body>
</html>