<html>
<head>
</head>
<body>
<p>Welcome to Finstagram, {{user}}!</p>

<p><a href ="/home">Home</a> <a href="/friendGroups">Friend Groups</a> <a href="/tags">Manage Tags</a> <a href="/follows">Manage Follows</a> <a href="/logout">Log Out</a></p>

<p>Photo ID: {{pData.pID}}</br>
<img src="/uploads/{{pData.pID}}.jpg" alt="{{pData.pID}}.jpg"/></br>
{{pData.caption}}</br>
Posted By: {{pData.posterUsername}} ({{pData.first_name}} {{pData.last_name}}) {% if pData.posterUsername == user %}[<strong>You</strong>]{% endif %}  on {{pData.postingDate}}</br></p>

<p><strong>Tags</strong> ({{ tCount }})</br>
{% for tag in tData %}
	@{{tag.username}} ({{tag.first_name}} {{tag.last_name}})</br>
{% endfor %}
{% if error == '1' %}
	<p class='error'><strong>Error:</strong> Invalid username</p>
{% endif %}
<form action="/submitTag?pID={{pData.pID}}" method="POST"> @<input type="text" name="newTag" placeholder="Add tag"> <input type="submit" value="Add Tag"></form>
</p>


<p><strong>Reactions</strong> ({{ rCount }})</br>
<form action="/submitReaction?pID={{pData.pID}}" method="POST" name="reaction">
	<input type="radio" name="emoji" value="👍" checked="checked">👍</input>
	<input type="radio" name="emoji" value="❤️">❤️</input>
	<input type="radio" name="emoji" value="😄">😄</input>
	<input type="radio" name="emoji" value="😮">😮</input>
	<input type="radio" name="emoji" value="😢">😢</input>
	<input type="radio" name="emoji" value="😡">😡</input></br>
	
	<input type="text" name="comment" placeholder="comment" size="31">
	<input type="submit" value="Post">
</form>

{% if noReactions %}
    Be the first to react!
{% else %}
    <style type="text/css">
    	table, tr{
    		border: 1px solid black;
    	}
    </style>
    
    <table>
        <th>User</th>
        <th>Time</th>
        <th>Reaction</th>

    {% for reaction in rData %}
    	<tr>
        	<td>{{reaction.reactorUsername}}</td>
        	<td>[{{reaction.reactionTime}}]</td>
        	<td>{{reaction.emoji}} {{reaction.comment}}</td>
        </tr>
    {% endfor %}
{% endif %}
</table>
</p>

</html>