<html>
<head>
</head>
<body>
<p>{{groupName}} by {{creatorUsername}} {% if creatorUsername==user %}<strong>[You]</strong>{% else %}({{creatorInfo.first_name}} {{creatorInfo.last_name}}){% endif %}</p>

<p><a href="/home">Home</a> <a href="/friendGroups">Friend Groups</a> <a href="/tags">Manage Tags</a> <a href="/follows">Manage Follows</a> <a href="/logout">Log Out</a></p>

{{description.description}}

<p><strong>Group Members</strong> ({{memberCount}})</br>
{% for member in members %}
    {{member.username}} ({{member.first_name}} {{member.last_name}})
    {% if creatorUserame == member.username %}
        [Group Creator]
    {% endif %}
    {% if user == member.username %}
        <strong>[You]</strong>
    {% endif %}
    {% if creatorUsername == user and member.username != user %}
        <a href="/removeFriend?cu={{creatorUsername}}&gn={{groupName}}&mu={{member.username}}">Remove</a>
    {% endif %}
    </br>
{% endfor %}
</br>

{% if creatorUsername == user %}
<form action="/addFriend?cu={{creatorUsername}}&gn={{groupName}}" method="POST">
    <input type="text" name="newFriend" list="followerOptions" placeholder="Add new group members from followers" size=40>
    <datalist id="followerOptions">
    {% for follower in followers %}
        <option value="{{follower.followerUsername}}">{{follower.followerUsername}}</option>
    {% endfor %}
    </datalist>
    <input type="submit" value="Add friend"/>
</form>
{% endif %}

</p>

{% for photo in posts %}
	<p><img src="/uploads/{{photo.pID}}.jpg" width=400px height=400px alt="{{photo.pID}}.jpg"/></br>
	Photo ID: {{photo.pID}} <a href="/viewPhoto/{{photo.pID}}">More</a></p>
{% endfor %}

</body>
</html>